*{
	margin:0;
	padding:0;
	font-family:'Poppins',sans-serif;
	box-sizing:border-box;
}

body{
	background:#1A120B ;
	color:#D0DDD0;
}

#header{
	width:100%;
	height:100vh;
	background-image: url(images/Garima_Profile.png);
	background-size:contain;
	background-position:top right;
	background-repeat: no-repeat;
}


.container{
	padding: 40px 10%;
}

nav{
	display:flex;
	align-items:center;
	justify-content: space-between;
	flex-wrap:wrap;
}

#logo{
	font-size:90px;
}

nav ul li{
	display: inline-block;
	list-style:none;
	margin:10px 80px;
}

nav ul li a{
	color:#D0DDD0;
	text-decoration:none;
	font-size:50px;
	position:relative;
}

nav ul li a::after{
	content:'';
	width:0;
	height:13px;
	background:#89A8B2;
	position:absolute;
	left:0;
	bottom:-15px;
	transition:0.5s;
}

nav ul li a:hover::after{
	width:100%;
}

.header-text{
	margin-top:20%;
	font-size:30 px;
}

.header-text{
	margin-top:20%;
	
}

.header-text h1{
	font-size:150px;
	color:#FFE1FF;
}

.header-text p{
	font-size:60px;
}

.header-text h1 span{
	color:#C6E7FF;
}


/*--------------about-----------*/

#about
{
	padding: 80px 0;
	color:#D8D2C2;
}

.row
{
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
}

.about-col-1{
	flex-basis:35%;
}

.about-col-1 img{
	width:100%;
	border-radius:20px;
}

.about-col-2{
	flex-basis:60%;
}

.sub-title{
	font-size:120px;
	font-weight:600;
	color:#fff;
}

.tab-titles{
	display:flex;
	margin:20px 0 40px;
}

.tab-links{
	margin-right:50px;
	font-size:30px;
	font-weight:500;
	cursor:pointer;
	position:relative;

}

.main-body{
	font-size:40px;
}

.tab-links::after{
	content:'';
	width:0;
	height:12px;
	background:#89A8B2;
	position:absolute;
	left:0;
	bottom:-20px;
	transition:0.5s;
}

.tab-links.active-link::after{
	width:50%;
}

.tab-contents ul li{
	list-style:none;
	margin: 30px 0;;
	font-size: 30px;
	font-weight: 500;

}

.tab-contents ul li span{
	font-size: 35px;
}

.tab-contents{
	display:none;
}

.tab-contents.active-tab{
	display:block;
}

/*------------ECA-------------*/

#eca{
	padding: 20px 0;
}

.ECA-item{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}


.ECA-item div{
	background: #9BA4B4;
	padding: 40px;
	font-size: 35px;
	font-weight: 300;
	border-radius:20px;
	transition: background 0.5s, transform 0.5s;
}

.ECA-item div h1{
	margin-bottom: 35px;
	color:#F9FBE7;
}

.ECA-item div p{
	margin: 20px 0;
	color: #F9FBE7;
}

.item a{
	margin-top:80px;
	text-decoration:none;
	color:#fff;
	border-radius:50%;
	width:60px;
	height:60px;
	line-height:60px;
	font-size:60px;
}


.ECA-item div a:hover {
	color:#E3E7B3;
}


.ECA-item div:hover{
	background: #6482AD;
	transform : translateY(-20px);
}

/*-------------portfolio----------------*/

#works{
	padding: 50px 0;
}

.work-list{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap:50px;
	margin-top:50px;
}

.work{
	border-radius:20px;
	position:relative;
	overflow:hidden;
}

.work img{
	width:100%;
	border-radius:30px;
	display:block;
	transition:transform 0.5s;
}

.work p{
	font-size:40px;
}

.layer{
	width:100%;
	height:0%;
	background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
	border-radius:10px;
	position:absolute;
	left:0;
	bottom:0;
	overflow:hidden;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	padding:0 40px;
	text-align:center;
	transition:height 0.5s;
}

.layer h1{
	font-weight:700;
	font-size:50px;
	margin-bottom:50px;
}

.layer a{
	margin-top:80px;
	color:#E82561;
	text-decoration:none;
	font-size:50px;
	line-height:80px;
	background:#FFFDF0;
	width:80px;
	height:80px;
	border-radius:50%;

}

.work:hover img{
	transform: scale(1.2);
}

.work:hover .layer{
	height:100%;
}

.btn{
	display:block;
	margin:50px auto;
	width:fit-content;
	border: 1px solid #ff004f;
	padding: 34px 70px;
	border-radius:40px;
	text-decoration:none;
	color:#fff;
	font-size:40px;
	transition:transform 0.5s;
}

.btn:hover{
	background:#ff004f;
}

.contact-left{
	flex-basis:35%;
}

.contact-right{
	flex-basis:60%;
}

.contact-left p{
	margin-top:30px;
	font-size:40px;
}

.contact-left p i{
	margin-right:30px;
	color:#A31D1D;
	font-size:60px;
}

.icons{
	margin-top:50px;
}

.icons a{
	text-decoration:none;
	font-size:60px;
	margin-right:30px;
	color:#fff;
	display:inline-block;
	transition: transform 1s;
}

.icons a:hover{
	color:#A31D1D;
	transform:translateY(-10px);
}